<%- include header.ejs %>
<link rel="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">//cdn file of datatable css
<table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
            </tr>
            </tbody>
      
    </table>
	<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js">  //cdn file of datatable
	</script>
	<script>
	$(document).ready(function() {
    $('#example').DataTable();
      } );
	</script>
<%- include footer.ejs %>